{:paths ["src" "resources"]
 :aliases {:test {:extra-paths ["test"]
                  :extra-deps {lambdaisland/kaocha {:mvn/version "0.0-529"}
                               lambdaisland/kaocha-cljs {:mvn/version "0.0-40"}
                               lambdaisland/kaocha-junit-xml {:mvn/version "0.0-70"}
                               metosin/spec-tools {:mvn/version "0.10.0"}
                               prismatic/schema {:mvn/version "1.1.11"}
                               meta-merge {:mvn/version "1.0.0"}
                               org.clojure/spec-alpha2 {:git/url "https://github.com/clojure/spec-alpha2.git"
                                                        :sha "dc960158ccb9cf8b5dc555842eea5e1af12f28c2"}}}
           :jar {:extra-deps {pack/pack.alpha
                              {:git/url "https://github.com/juxt/pack.alpha.git"
                               :sha "2769a6224bfb938e777906ea311b3daf7d2220f5"}}
                 :main-opts ["-m" "mach.pack.alpha.skinny" "--no-libs"
                             "--project-path" "malli.jar"]}
           :deploy {:extra-deps {deps-deploy {:mvn/version "RELEASE"}}
                    :main-opts ["-m" "deps-deploy.deps-deploy" "deploy"
                                "malli.jar"]}
           :install {:extra-deps {deps-deploy {:mvn/version "RELEASE"}}
                     :main-opts ["-m" "deps-deploy.deps-deploy" "install"
                                 "malli.jar"]}
           :perf {:extra-paths ["perf"]
                  :extra-deps {criterium {:mvn/version "0.4.5"}
                               com.clojure-goes-fast/clj-async-profiler {:mvn/version "0.4.0"}}
                  :jvm-opts ["-server"
                             "-Xmx4096m"
                             "-Dclojure.compiler.direct-linking=true"]}}
 :deps {org.clojure/clojure {:mvn/version "1.10.1"}
        borkdude/sci {:git/url "https://github.com/borkdude/sci"
                      :sha "81d2116917568f7ea8cf59a2d71d88666abdfc06"}
        borkdude/edamame {:git/url "https://github.com/borkdude/edamame"
                          :sha "ab318def821d93f18483e0e190faa98a1fd5cc0a"}
        org.clojure/test.check {:mvn/version "0.9.0"}
        com.gfredericks/test.chuck {:mvn/version "0.2.10"}}}
