{:paths ["src" "resources"]
 :aliases {:test {:extra-paths ["test"]
                  :extra-deps {lambdaisland/kaocha {:mvn/version "0.0-554"}
                               lambdaisland/kaocha-cljs {:mvn/version "0.0-59"}
                               lambdaisland/kaocha-junit-xml {:mvn/version "0.0-70"}
                               metosin/spec-tools {:mvn/version "0.10.0"}
                               prismatic/schema {:mvn/version "1.1.12"}
                               meta-merge {:mvn/version "1.0.0"}
                               org.clojure/spec-alpha2 {:git/url "https://github.com/clojure/spec-alpha2.git"
                                                        :sha "aaadd79b1644bc73d1c4283532a7b59ef382a671"}}}
           :jar {:extra-deps {pack/pack.alpha
                              {:git/url "https://github.com/juxt/pack.alpha.git"
                               :sha "042c61410b1851957ae5f77cfe26a255837172cc"}}
                 :main-opts ["-m" "mach.pack.alpha.skinny" "--no-libs"
                             "--project-path" "malli.jar"]}
           :deploy {:extra-deps {deps-deploy {:mvn/version "RELEASE"}}
                    :main-opts ["-m" "deps-deploy.deps-deploy" "deploy"
                                "malli.jar"]}
           :install {:extra-deps {deps-deploy {:mvn/version "RELEASE"}}
                     :main-opts ["-m" "deps-deploy.deps-deploy" "install"
                                 "malli.jar"]}
           :perf {:extra-paths ["perf"]
                  :extra-deps {criterium {:mvn/version "0.4.5"}
                               com.clojure-goes-fast/clj-async-profiler {:mvn/version "0.4.0"}}
                  :jvm-opts ["-server"
                             "-Xmx4096m"
                             "-Dclojure.compiler.direct-linking=true"]}}
 :deps {org.clojure/clojure {:mvn/version "1.10.1"}
        borkdude/sci {:git/url "https://github.com/borkdude/sci"
                      :sha "a1f6c2204bbfa0c191dbb99efef99709dc454fbe"}
        borkdude/edamame {:mvn/version "0.0.6"}
        org.clojure/test.check {:mvn/version "0.10.0"}
        com.gfredericks/test.chuck {:mvn/version "0.2.10"}}}
