#kaocha/v1
{:tests [{:id :generated
          :test-paths  ["target/test-doc-blocks/test"]
          :kaocha.hooks/post-load-test [lread.test-doc-blocks.kaocha.hooks/fail-on-no-tests-found]}]
 :randomize? false}
