{:deps {:aliases [:shadow :sci]}
 :builds {:app {:target :browser
                :closure-defines {malli.registry/type "default"}
                :modules {:cljs {:entries [cljs.core]}
                          :malli {:entries [malli.core]
                                  :depends-on #{:cljs}}
                          :app {:entries [malli.app]
                                :depends-on #{:malli}}}}
          :app-sci {:target :browser
                    :closure-defines {malli.registry/type "default"}
                    :devtools {:preloads [sci.core]}
                    :modules {:cljs {:entries [cljs.core]}
                              :sci {:entries [sci.core]
                                    :depends-on #{:cljs}}
                              :malli {:entries [malli.core]
                                      :depends-on #{:cljs :sci}}
                              :app {:entries [malli.app]
                                    :depends-on #{:malli}}}}
          :app2 {:target :browser
                 :closure-defines {malli.registry/type "custom"}
                 :modules {:cljs {:entries [cljs.core]}
                           :malli {:entries [malli.core]
                                   :depends-on #{:cljs}}
                           :app {:entries [malli.app2]
                                 :depends-on #{:malli}}}}
          :app2-sci {:target :browser
                     :closure-defines {malli.registry/type "custom"}
                     :devtools {:preloads [sci.core]}
                     :modules {:cljs {:entries [cljs.core]}
                               :sci {:entries [sci.core]
                                     :depends-on #{:cljs}}
                               :malli {:entries [malli.core]
                                       :depends-on #{:cljs :sci}}
                               :app {:entries [malli.app2]
                                     :depends-on #{:malli}}}}}}
