name: Run tests

on:
  push:
    branches: [ master ]
  pull_request:
    branches: [ master ]

jobs:
  build-clj:
    strategy:
      matrix:
        # Supported Java versions: LTS releases 8 and 11 and the latest release
        jdk: [8, 11, 15]

    name: Clojure (Java ${{ matrix.jdk }})

    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v2
    - name: Setup Java ${{ matrix.jdk }}
      uses: actions/setup-java@v2.4.0
      with:
        java-version: ${{ matrix.jdk }}
    - name: Setup Clojure
      uses: DeLaGuardo/setup-clojure@master
      with:
        cli: latest
    - name: Run tests
      run: bin/kaocha

  build-cljs:
    name: ClojureScript

    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2
      - name: Setup Java 11
        uses: actions/setup-java@v2.4.0
        with:
          java-version: 11
      - name: Setup Clojure
        uses: DeLaGuardo/setup-clojure@master
        with:
          cli: latest
      - name: Setup Node.js
        uses: actions/setup-node@v2.5.0
        with:
          node-version: 16
      - name: Install dependencies
        run: npm ci
      - name: Run tests
        run: bin/node
